*.txt
*.swp
*~

# Exceptions
!requirements.txt
!requirements-dev.txt
!requirements-docs.txt
!config/config.json

# Directories
.idea/
config/
docs/build/
tmp/
log/
venv/

__pycache__
.mypy_cache/

# Coverage files
.coverage
